// Define some variables for colors and spacing
$primary-color: #007bff;
$secondary-color: #6c757d;
$black: rgb(0, 0, 0);
$white: #ffffff;

$dark-green: #29a71a;
$light-orange: #f25029;
$error-color: #ff0000;
$input-border-color: #cccccc;
$input-border-focus-color: $primary-color;
$border-color: #dee2e6;
$text-color: #343a40;
