// Define some variables for colors and spacing
$primary-color: #4caf50;
$secondary-color: #edeaf8;
$light-blue1: #4a57ef;
$light-blue2: #2e3ac6;
$light-blue3: #024fca;
$dark-blue2: #1f299c40;

$black: rgb(0, 0, 0);
$dark2: rgba(0, 0, 0, 0.54);
$dark3: rgba(0, 0, 0, 0.1);
$dark4: rgba(0, 0, 0, 0.102);
$dark5: rgba(0, 0, 0, 0.15);
$dark6: rgba(0, 0, 0, 0.122);

$white: #ffffff;
$light-grey1: #a7a7a7;
$light-grey2: #a49d9d;
$light-grey3: #ccd3d8;
$light-grey4: #e5e5e5;
$light-grey5: #efefef;
$light-grey6: #a3a3a3;
$light-grey7: #c5c5c5;
$light-grey8: #797979;
$light-grey9: #f0f0f0;
$dark-grey1: #585858;
$dark-grey2: #7f7f7f;
$dark-grey3: #333333;
$dark-grey4: #bebebe4a;
$dark-grey5: #686868;

$dark-green: #29a71a;
$light-orange: #f25029;
$light-pink: #ffaaaa;
$dark-brown: #f2502926;
$error-color: #ff0000;
$input-border-color: #cccccc;
$input-border-focus-color: $primary-color;
