$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-eye-slash: unquote('"\\e900"');
$icon-eye: unquote('"\\e916"');
$icon-left-arrow: unquote('"\\e915"');
$icon-empty-search: unquote('"\\e914"');
$icon-commission: unquote('"\\e912"');
$icon-team-members: unquote('"\\e913"');
$icon-graduate-path1: unquote('"\\e90d"');
$icon-graduate-path2: unquote('"\\e90e"');
$icon-graduate-path3: unquote('"\\e90f"');
$icon-graduate-path4: unquote('"\\e910"');
$icon-graduate-path5: unquote('"\\e911"');
$icon-plus: unquote('"\\e909"');
$icon-popular-links: unquote('"\\e90a"');
$icon-message: unquote('"\\e90b"');
$icon-phone: unquote('"\\e90c"');
$icon-whatsapp: unquote('"\\e908"');
$icon-applications: unquote('"\\e906"');
$icon-students: unquote('"\\e907"');
$icon-language: unquote('"\\e905"');
$icon-chevron_down: unquote('"\\e904"');
$icon-bell: unquote('"\\e902"');
$icon-search: unquote('"\\e903"');
$icon-check: unquote('"\\61"');
$icon-home: unquote('"\\e901"');

