<app-navbar />
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="profile-header text-center mb-4">
                <img src="../../../assets/images/profile/hero.png" class="rounded-circle" alt="User Image">
                <h2 class="mt-3">{{ username }}</h2>
                <p>{{ email }}</p>
            </div>
            <div class="profile-details">
                <div class="row mb-2">
                    <div class="col-sm-4"><strong>Power:</strong></div>
                    <div class="col-sm-8">{{ power }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4"><strong>Rate:</strong></div>
                    <div class="col-sm-8">
                        <td>
                            <p-rating [(ngModel)]="rate" [readonly]="preventRating||ratedBefore" [cancel]="false"
                                (click)="rateHero()" />
                            <span *ngIf="preventRating" class="warning">( You can't rate yourself )</span>
                            <span *ngIf="ratedBefore" class="warning">( You've already rated {{ username }} )</span>
                        </td>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4"><strong>Total Rates:</strong></div>
                    <div class="col-sm-8">
                        {{ totalRates }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>