<div class="register-container">
    <div class="left-side">
        <div class="logo-container">
            <div class="box">
                <img class="main-logo" src="../../../assets/images/navbar/main_logo.png" alt="logo">
                <div>
                    <h2 class="logo-title">Heroes</h2>
                    <span class="slogan">Where Everyday <span class="highlight">Legends</span> Come to Life</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <app-register-form [isDialog]="false" />
    </div>
</div>